<section id="about" class="container" data-aos="fade-right">
  <h2 class="section-title">About Me</h2>
  <div class="about-content">
    <img src="assets/images/profile.jpg" alt="" class="profile-pic">
    <div class="bio">
      <p>
          Tech driven engineering student with hands-on experience in Web development, Quantum computing, and Machine learning, including practical skills in Qiskit and PennyLane. Certified in industry focused programs and grounded in electronics and communication, I've worked on scalable systems, Angular web apps, and ML models. I thrive in fast paced, innovation first environments and aim to solve real world problems at the intersection of data, strategy, and engineering.
      </p>
      <h3>Key Skills</h3>
      <div class="skills">
        <span>Angular</span>
        <span>Blockchain</span>
        <span>Quantum Computing</span>
        <span>Python</span>
        <span>C/C++</span>
        <span>AI/ML</span>
        <span>React</span>
        <span>Node.js</span>
        <span>Firebase</span>
        <span>RxJS</span>
        <span>TypeScript</span>
        <span>JavaScript</span>
        <span>HTML5</span>
        <span>Tailwind CSS</span>
        <span>Github</span>
        <span>Agile Scrum</span>
      </div>
    </div>
  </div>
</section>