<section id="home" class="hero">

  <video class="hero-video" autoplay muted loop playsinline>
    <source src="assets/videos/background3.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="hero-overlay"></div>

  <div class="hero-content-container" data-aos="fade-up">
    <h1 class="hero-title">Raushan Kumar</h1>
    <p class="hero-subtitle">Engineer | Web Developer | Tech Enthusiast</p>
    <div class="hero-intro"></div>
    <a href="#contact" class="cta-button">Get In Touch</a>
  </div>

</section> <app-about></app-about>
<app-education></app-education>
<app-projects></app-projects>
<app-experience></app-experience>
<app-certifications></app-certifications>
<app-contact></app-contact>